<!DOCTYPE html>
<html>
<head>
	<title>This is Peter's page</title>
	<link rel="stylesheet" href="stylespeter.css">
</head>
<body style="border:10px solid Tomato;">
<center>
	<h1>This is My First Website</h1>
	<div class="cities">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div>
	<ol>
		<li>peter</li>
		<li>mario</li>
		<li>vince</li>
	</ol>
	<img src="sky.jpg" width = "400" height = "250">
	<img src="sky.jpg" width="400" height = "250">
	<h1 style="color:red">this is my first header</h1>
		<p>information under header 1</p>
		<p>please visit the link below to go to Choate website</p>
		<a href="https://www.choate.edu/students/portal">choate</a>
		<br>
		<button>click me</button>
	<h1>this is my preserve test</h1>
	<button onclick="document.location = 'https://www.choate.edu/students/portal'">Choate Website</button>
</center>
</body>
</html>